stages:
  - test

variables:
    GIT_SUBMODULE_STRATEGY: recursive

before_script:
  - source activate avenv
  - bash scripts/requirements.sh


test1:
  stage: test
  script:
  - python3 setup.py test
  - build-wrapper-linux-x86-64 --out-dir bw-output bash scripts/gcov_coverage.sh
  - sonar-scanner -Dsonar.login=$SONAR_TOKEN 
